<button class="nav-burger" #toggleButton (click)="toggleMenu($event)">
  <span class="nav-burger-line"></span>
  <span class="nav-burger-line"></span>
  <span class="nav-burger-line"></span>
</button>
<nav class="nav-header-menu" [ngStyle]="nav ? {'display':'flex'} : null " #navmenu>
  <app-logo [mode]="'nav'" (click)="toggleMenu($event)"></app-logo>
  <h2 class="nav-header-greeting">Welcome, guest!</h2>
  <div class="nav-goup">
    <h3 class="nav-parent">Products</h3>
    <ul class="nav-list" >
      <li *ngFor=" let category of categories$ | async">
        <a [routerLink]="['/products']" [queryParams]="{'categories': category.name}" (click)="toggleMenu($event)">{{category.name}}</a>
      </li>
    </ul>
  </div>
  <div class="nav-goup">
    <h3 class="nav-parent">Account</h3>

    <ul class="nav-list">
      <ng-container *ngIf="isUser$ | async">
        <li><a (click)=viewAccount()>Personal Info</a></li>
        <li><a (click)=signOut()>Sign out</a></li>
      </ng-container>

      <ng-container *ngIf="!(isUser$ | async)">
        <li><a  routerLink="auth/login">Sign in</a></li>
        <li><a  routerLink="auth/register" >Sign up</a></li>
      </ng-container>
    </ul>
    <!-- <ul class="nav-list">
      <li><a href="#" class="nav-parent">personal info</a></li>
      <li><a href="#" class="nav-parent">shopping list</a></li>
      <li><a href="#" class="nav-parent">favorites</a></li>
    </ul> -->
  </div>
</nav>
