<h2>Where you can find?</h2>
<agm-map 

[latitude]="lat" 
[longitude]="lng" 
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
[scrollwheel]="false"
[fitBounds]="true" 
class="map-box">

  <agm-overlay
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    (markerClick)="clickedMarker(m.name, i)"
  >
    <div class="farm-details">
      <a [routerLink]="['farm', m.id]" [title]="m.name" class="farm-image">
        <img [src]="m.image" alt="farm image">
      </a>
      <a [routerLink]="['farm', m.id]" class="farm-name"> 
        <span>{{m.name}}</span>
      </a>
    </div>
  </agm-overlay>

  <agm-marker 
  *ngFor="let m of markers; let i = index" 
  [agmFitBounds]="true"
  [latitude]="m.lat" 
  [longitude]="m.lng" 
  [visible]="false"
  >

</agm-marker>
</agm-map>

<button class="view-all" routerLink="/farms">view all farms</button>