@import "src/variables";

.item {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-name {
    margin: 0;
    text-align: start;

    &.farm{
      color: $limeGreen;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &-farm-name {
    margin: 0;
    text-align: start;
    font-family: "OpenSansBold";

    a {
      color: $limeGreen;

      &:hover {
        color: $darkGreen;
      }
    }
  }
  &-content {
    max-width: 200px;
  }
  &-image {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .object-fit_cover {
      object-fit: cover;
      width: 200px;
      height: 200px;
    }
  }
  &-price {
    color: #f00;
    font-weight: bold;
  }

  &-social {
    display: flex;
    gap: 0.5em;

    .item-social-icon {
      display: block;
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 3px;
      text-indent: -9999px;
      position: relative;
      transform: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      &::after {
        content: " ";
        background-position: center;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.fb {
        &::after {
          background-image: url("../../../../../assets/images/icons/social/facebook.png");
          filter: invert(53%) sepia(100%) saturate(5722%) hue-rotate(206deg)
            brightness(102%) contrast(90%);
        }
      }
      &.insta {
        &::after {
          background-image: url("../../../../../assets/images/icons/social/instagram.png");
          filter: invert(12%) sepia(94%) saturate(7449%) hue-rotate(294deg)
            brightness(102%) contrast(119%);
        }
      }
    }
  }
  &-location {
    position: relative;
    padding-left: 30px;
    font-size: 0.9em;

    a {
      color: #000;
    }

    &::before {
      content: "";
      background-image: url("../../../../../assets/images/icons/map-pin.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 25px;
      filter: invert(64%) sepia(77%) saturate(367%) hue-rotate(43deg)
        brightness(96%) contrast(87%);
    }
  }
  &-phone {
    font-size: 0.9em;
    position: relative;
    padding-left: 30px;

    a {
      color: #000;
    }
    &::before {
      content: "";
      background-image: url("../../../../../assets/images/icons/call.svg");
      background-repeat: no-repeat;
      background-size: 80%;
      width: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 25px;
      filter: invert(64%) sepia(77%) saturate(367%) hue-rotate(43deg)
        brightness(96%) contrast(87%);
    }
  }
}

.farm-info {
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: 200px;
}
