<div class="item">
  <div class="item-image">
    <img *ngIf="item.image; else noImage"
      src=""
      alt="product image"
      class="object-fit_cover">
    <ng-template #noImage>No image yet ...</ng-template>
  </div>

  <div class="item-content">
    <h3 class="item-name">{{ item.name }}</h3>
    <div class="item-description">
      {{ item.description | slice:0:100 }}...
    </div>
    <div class="item-price" *ngIf="item.price">
      {{ item.price | currency: 'EUR' }}
    </div>
    <div class="item-farm-name" *ngIf="item.farmId">
      <a [routerLink]="'/farm/'+ item.farmId">{{ item.name }}</a>
    </div>
    <div class="item-location" *ngIf="item.address">
      {{ item.country + ', ' + item.city + ', ' + item.address }}
    </div>
    <div class="item-social">
      <a class="item-social-icon fb" [href]="item.faceBook">Facebook</a>
      <a class="item-social-icon insta" [href]="item.instagram">Instagram</a>
    </div>
  </div>
</div>
