@import "src/variables";

.item {
  display: flex;
  gap: 2em;

  &-name {
    margin: 0;
    text-align: start;
  }

  &-farm-name {
    margin: 0;
    text-align: start;
    font-family: "OpenSansBold";

    a{
      color: $limeGreen;

      &:hover{
        color: $darkGreen;
      }
    }
  }

  &-image {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background-color: $primaryGreen;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .object-fit_cover {
      object-fit: cover;
      width: 200px;
      height: 200px;
    }
  }
  &-social{
    display: flex;
    gap: 0.5em;

    .item-social-icon{
      display: block;
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 3px;
      text-indent: -9999px;
      position: relative;
      transform: all 0.3s;

      &:hover{
        transform: scale(1.2);
      }

      &::after{
        content: ' ';
        background-position: center;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.fb{

        &::after{
          background-image: url('../../../../../assets/images/icons/social/facebook.png');
        }
      }
      &.insta{

        &::after{
          background-image: url('../../../../../assets/images/icons/social/instagram.png');
        }

      }
    }

  }
}

.item-location {
  color: $primaryGreen;
  position: relative;
  padding-left: 25px;

  &::before {
    content: "";
    background-image: url("../../../../../assets/images/icons/map-pin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    filter: invert(64%) sepia(77%) saturate(367%) hue-rotate(43deg)
      brightness(96%) contrast(87%);
  }
}
