<div class="item">
  <div class="item-image">
    <img
      *ngIf="item.image; else noImage"
      [src]="item.image"
      alt="pruduct image"
      #image
      class="object-fit_cover"
    />
    <ng-template #noImage>No image yet ... </ng-template>
  </div>

  <div class="item-content">
    <h3 class="item-name">{{ item.name }}</h3>
    <h4 class="item-farm-name" *ngIf="productFarm">{{ productFarm.name}}</h4>
    <p class="item-description">{{ item.description }}</p>
    <p class="item-location" *ngIf="productFarm">{{ productFarm.location ? productFarm.location.adress : 'somewhere'}}</p>
  </div>
</div>
