@import "src/variables";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  padding: 10px 14px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;

  &.ng-touched.ng-invalid{
    border: 1px solid #f00;
  }

  &:hover {
    border-color: $primaryGreen;
  }

  &:focus {
    outline-color: $primaryGreen;
  }
}

#role {
  vertical-align: sub;
}

.switch-mode {
  margin: 0;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $darkGreen;
  }

}
.auth-form{
  max-width: 280px;
  margin: 0 auto;

  .form-group{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

    &.role{
      flex-direction: row;
      justify-content: center;

      input{
        width: 30px;

      }
    }
  }
}
.auth-button:disabled{
  background-color: #ddd;
}
.form-validator{
  font-size: 0.7em;
  color: red;
}
.form-tip{
  font-size: 0.7em;
  color: #777;
}