<div class="grid-container" [ngClass]="itemsType === 'Products' ? 'products': 'farms'">
  <h2 class="grid-title">{{itemsType === 'Products' ? 'Products' : 'Farms'}}</h2>

  <div class="grid-filters" *ngIf="itemsType === 'Products'">
    <button (click)="openFilters()" class="open-filters-button">Filters</button>

    <app-filters *ngIf="filterOpened"
                (filtersClosed)="closeFilters($event)">
    </app-filters>
  </div>

  <div class="grid-sort">
    <select class="sort" #sort (change)="onSort(sort.value)">
      <option>Sort by</option>
      <option value="nameAsc">Name A-Z</option>
      <option value="nameDesc">Name Z-A</option>

      <ng-container *ngIf="itemsType === 'Products'">
        <option value="priceAsc">Price lower</option>
        <option value="priceDesc">Price higher</option>
      </ng-container>
    </select>
  </div>

  <div class="grid-items">
    <app-grid-item *ngFor="let item of items | filter: filtersData | sort: sortData"
                   [item]="item">
    </app-grid-item>
  </div>
</div>

