<div class="grid-container">
  <h2 class="grid-title">Title</h2>

  <div class="grid-toolbar">
    <button (click)="filterOpened = !filterOpened">Filters</button>

    <select class="sort" #sort (change)="onSort(sort.value)">
      <option>Sort by</option>
      <option value="nameAsc">Name A-Z</option>
      <option value="nameDesc">Name Z-A</option>
    </select>
  </div>

  <div class="grid-items">
    <app-grid-item *ngFor="let item of items | filter: filtersData | sort: sortData"
                   [item]="item"></app-grid-item>
  </div>
</div>

<app-filters *ngIf="filterOpened"
             (isFilter)="filterOpen($event)"
             (filters)="filtersData = $event"
></app-filters>
