.wrapper {
  min-height: 100%;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
  .page-header,
  .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .page-body {
    flex-grow: 1;
  }
}
