<div class="farms-container">
  <h2>My farms</h2>
  <div class="farms-scroll">
    <div class="farms">
      <div class="farms-add" (click)="isModalAddOpened = true">
        <span class="plus">+</span>
        <p class="farms-add-text">Add farm</p>
      </div>

      <app-farmer-farm
        *ngFor="let farm of farms$ | async; let i = index"
        [farm]="farm"
        [isFirstItem]="i === 0">
      </app-farmer-farm>
    </div>
  </div>
</div>

<app-modal *ngIf="isModalAddOpened" (isModalOpened)="isModalAddOpened = $event">
  <div class="modal">
    <p class="modal-title">Add new farm</p>

    <form
      class="modal-form"
      #addFarmForm="ngForm"
      (ngSubmit)="onAddFarm(addFarmForm.value)">

      <div class="form-group">
        <label for="name">Farm name</label>
        <input type="text" id="name" name="name" ngModel #name="ngModel" required minlength="3">
        <div *ngIf="name.touched" class="form-validator">
          <span *ngIf="name.errors?.['required']">Farm name is Required!</span>
          <span *ngIf="name.errors?.['minlength']">Farm name  minimum 3 characters are required!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Farm description</label>
        <input type="text" id="description" name="description" ngModel #description="ngModel" required>
        <div *ngIf="description.touched" class="form-validator">
          <span *ngIf="description.errors?.['required']">Farm description is Required!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="imageFile">Farm image</label>
        <input type="file" class="file-upload" id="imageFile" name="imageFile" ngModel #imageFile="ngModel" (change)="onFileSelected($event)" requiredFileType="image/jpg">
        <div *ngIf="imageFile.touched" class="form-note-text">
          <span>Selected file: {{ fileName || "No file uploaded yet."}}</span>
        </div>
        <div *ngIf="imageFile.errors?.['requiredFileType']" class="form-validator">
          <span *ngIf="imageFile.errors?.['requiredFileType']">Only jpg is acceptable file format</span>
        </div>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" name="country" ngModel #country="ngModel" required minlength="3">
        <div *ngIf="country.touched" class="form-validator">
          <span *ngIf="country.errors?.['required']">County is Required!</span>
          <span *ngIf="country.errors?.['minlength']">County minimum 3 characters are required!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city" ngModel #city="ngModel" required minlength="3">
        <div *ngIf="city.touched" class="form-validator">
          <span *ngIf="city.errors?.['required']">City is Required!</span>
          <span *ngIf="city.errors?.['minlength']">City minimum 3 characters are required!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" ngModel #address="ngModel" required>
        <div *ngIf="address.touched" class="form-validator">
          <span *ngIf="address.errors?.['required']">Address is Required!</span>
        </div>
      </div>

      <div class="form-group">
        <label>Location</label>
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)" class="form-map">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>

      <div class="form-group">
        <label for="facebook">Facebook link</label>
        <input type="text" id="facebook" name="facebook" ngModel>
      </div>

      <div class="form-group">
        <label for="instagram">Instagram link</label>
        <input type="text" id="instagram" name="instagram" ngModel>
      </div>

      <div class="form-group">
        <label for="telephone">Phone number</label>
        <input type="text" id="telephone" name="telephone" ngModel #telephone="ngModel" pattern="[- +()0-9]{10,12}">
        <div *ngIf="telephone.touched" class="form-validator">
          <span *ngIf="telephone.errors?.['pattern']">Phone number should correspond "380123546789" format!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Farm email address</label>
        <input type="text" id="email" name="email" ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        <div *ngIf="email.touched" class="form-validator">
          <span *ngIf="email.errors?.['required']">Email is a required field!</span>
          <span *ngIf="email.errors?.['pattern']">This is not a valid Email!</span>
        </div>
      </div>

      <div class="modal-buttons">
        <button type="submit" [disabled]="!addFarmForm.form.valid">Create</button>
        <button type="button" (click)="isModalAddOpened = false">Cancel</button>
      </div>
    </form>
  </div>
</app-modal>
