@import "src/variables";

.farms-scroll{
  overflow-y: hidden;
  overflow-x: scroll;
  justify-content: flex-start;

}

.farms {
  width: max-content;
  display: flex;
  gap: 1em;

  &-add {
    display: flex;
    height: 150px;
    width: 150px;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $limeGreen;
    border-radius: 10px;

    &-text {
      margin: 0;
      color: #fff;
    }
  }
}

.plus {
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;

  &:hover {
    color: $darkGreen;
  }
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    background-size: contain;
    filter: invert(1);
    background-repeat: no-repeat;
    top: 5px;
    left: 5px;
    background-image: url(../../../../assets/images/icons/add.svg);
  }
}

@media (min-width: 1120px){
 
.farms-scroll{
  justify-content: center;
  .farms{
    width: 100%;
    justify-content: center;
  }
}
}