@import "src/variables";

.farm {
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: silver;
  border-radius: 10px;
  cursor: pointer;

  &-delete {
    display: none;
  }

  &:hover {
    background-color: $primaryGreen;

    .farm-delete {
      display: block;
    }
  }
}

.selected {
  background-color: $primaryGreen;
}
