@import "src/variables";

.header-container {
  padding: 15px;
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  gap: 1em;
  grid-template-columns: 40px auto;
  grid-template-rows: auto;
  grid-template-areas: "nav logo . .";
  box-sizing: border-box;

  &.home {
    grid-template-areas: "nav logo . redirect";
  }
  &.farm {
    grid-template-areas: "nav logo . welcome";
    grid-template-columns: 40px auto;
  }

  .logo-container {
    grid-area: logo;
    justify-self: flex-start;
  }
  .redirect-container {
    grid-area: redirect;
    justify-self: flex-end;
  }
  .welcome-user {
    grid-area: welcome;
    justify-self: flex-end;
  }
  .nav-container {
    grid-area: nav;
    justify-self: flex-start;
  }
  .search-container {
    grid-area: search;
    justify-self: stretch;
  }
}

.login-redirect {
  background-color: $primaryGreen;
  border: none;
  color: #fff;
  padding: 0 10px;
  height: 37px;
  line-height: 37px;
  border-radius: 5px;
  box-sizing: border-box;
  justify-self: stretch;
  align-self: stretch;
  cursor: pointer;

  &:hover {
    background-color: $darkGreen;
  }
}

@media (min-width: 769px) {
  .header-container {
    background-color: $limeGreen;
    padding: 0 1em;
    grid-template-areas: "logo nav . .";

    grid-template-columns: 100px auto;
    &.home {
      grid-template-areas: "logo nav . redirect";
    }

    &.farm {
      grid-template-areas: "logo nav . welcome";
      grid-template-columns: 100px auto;
    }
  }
}
