<div class="header-container" [ngClass]="currentPage === '/' ? 'home' : null">
  <app-logo class="logo-container" [ngStyle]="navOpen ? {'visibility': 'hidden'} : null"></app-logo>
  <app-nav class="nav-container" (isNav)="setIsNav($event)"></app-nav>
  <app-search
    class="search-container"
    *ngIf="currentPage === '/products' || currentPage === '/farms'"
  ></app-search>
  <div class="redirect-container" *ngIf="currentPage === '/'">
    <button class="button submit login-redirect" routerLink="farmer">
      Farmer login
    </button>
  </div>
  <app-greeting
    class="welcome-user"
    *ngIf="currentPage === '/farmer/1'"
  ></app-greeting>
</div>
