<div class="header-container" [ngClass]="currentPage === '' ? 'home' : currentPage === 'farmer' ? 'farm' : null">
  <app-logo class="logo-container" [ngStyle]="{visibility: navOpen ? 'hidden' : 'visible'}"></app-logo>
  <app-nav class="nav-container" (isNav)="setIsNav($event)"></app-nav>
  <div class="redirect-container" *ngIf="currentPage === ''">
    <button class="button submit login-redirect" routerLink="farmer">
      Farmer in
    </button>
  </div>
  <app-greeting
    class="welcome-user"
    *ngIf="currentPage === 'farmer'"
  ></app-greeting>
</div>
