@import "src/variables";

.header-container {
  padding: 15px;
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  gap: 1em;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "nav . logo"
                        "search search search";
  box-sizing: border-box;

  &.home {
    grid-template-areas: "nav logo redirect";

    .logo-container {
      justify-self: center;
    }
  }
  &.farm {
    grid-template-areas: "nav logo welcome";
    grid-template-columns: 10% auto 20%;

    .logo-container {
      justify-self: center;
    }
  }

  .logo-container {
    grid-area: logo;
    justify-self: flex-end;
  }
  .redirect-container {
    grid-area: redirect;
    justify-self: flex-end;
  }
  .welcome-user {
    grid-area: welcome;
    justify-self: flex-end;
  }
  .nav-container {
    grid-area: nav;
    justify-self: flex-start;
  }
  .search-container {
    grid-area: search;
    justify-self: stretch;
  }
}

.login-redirect {
  background-color: $primaryGreen;
  border: none;
  color: #fff;
  padding: 0 10px;
  height: 37px;
  line-height: 37px;
  border-radius: 5px;
  box-sizing: border-box;
  justify-self: stretch;
  align-self: stretch;
  cursor: pointer;

  &:hover {
    background-color: $darkGreen;
  }
}

