@import "src/variables";

.header-container {
  padding-top: 1em;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "logo logo logo logo logo redirect"
    "nav search search search search search ";

  .logo-container {
    grid-area: logo;
    justify-self: flex-start;

    .logo {
      width: 200px;
      height: 80px;
    }
  }
  .redirect-container,
  .welcome-user {
    grid-area: redirect;
    padding: 0 1em;

  }
  .nav-container {
    grid-area: nav;
    padding: 0 1em;
    justify-self: flex-start;
  }
  .search-container {
    grid-area: search;
    justify-self: stretch;
    padding: 0 1em;
  }
}

.search {
  padding: 10px 14px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;

  &:hover {
    border-color: $primaryGreen;
  }
  &:focus {
    border-color: $primaryGreen;
  }
}

.nav-burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  .nav-burger-line {
    display: inline-block;
    width: 30px;
    border: 2px solid $primaryGreen;
  }
}

.nav-header {
  display: none;
}

.login-redirect {
  background-color: $primaryGreen;
  border: none;
  color: #fff;
  padding: 0 10px;
  height: 37px;
  line-height: 37px;
  border-radius: 5px;
  box-sizing: border-box;
  justify-self: stretch;
  align-self: stretch;
  cursor: pointer;

  &:hover {
    background-color: $darkGreen;
  }
}

.welcome-user {
  color: $darkGreen;
  font-size: 20px;
}
