@import "src/variables";

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0 1em;
}

.add-product-btn {
  display: block;
  padding: 10px 20px;
  background-color: $primaryGreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: $darkGreen;
  }
}
@media (min-width: 769px){
  .products{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}