<div class="products-container">
  <h2>My goods</h2>

  <button class="add-product-btn" (click)="openModal()">Add product</button>

  <div class="products">
    <app-farmer-product *ngFor="let product of products$ | async"
                        [product]="product">
    </app-farmer-product>
  </div>
</div>

<app-modal *ngIf="isModalOpened" (isModalOpened)="isModalOpened = $event">
  <div class="modal">
    <p class="modal-title">Add product</p>

    <form class="modal-form" #addProductForm="ngForm"
          (ngSubmit)="onAddProduct(addProductForm.value)">

      <label for="productName">Product name</label>
      <input type="text" id="productName" name="productName" ngModel required>
      <label for="productDesc">Product description</label>
      <input type="text" id="productDesc" name="productDesc" ngModel required>
      <label for="productImg">Product image</label>
      <input type="text" id="productImg" name="productImg" ngModel>
      <label for="productPrice">Product price</label>
      <input type="text" id="productPrice" name="productPrice" ngModel>
      <label for="productCategory">Product category</label>
      <select id="productCategory" name="productCategory" ngModel>
        <option *ngFor="let category of categoriesList" [value]="category.id">
          {{ category.name }}
        </option>
      </select>

      <div class="modal-buttons">
        <button type="submit">Save</button>
        <button type="button" (click)="closeModal()">Cancel</button>
      </div>
    </form>

  </div>
</app-modal>
