<div class="products-container">
  <h2>My goods</h2>
  <button class="add-product-btn" (click)="isModalAddOpened = true">Add product</button>

  <div class="products">
    <app-farmer-product *ngFor="let product of products$ | async"
                        [product]="product">
    </app-farmer-product>
  </div>
</div>

<app-modal *ngIf="isModalAddOpened" (isModalOpened)="isModalAddOpened = $event">
  <div class="modal">
    <p class="modal-title">Add product</p>

    <form class="modal-form" #addProductForm="ngForm"
          (ngSubmit)="onAddProduct(addProductForm.value)">

      <div class="form-group">
        <label for="name">Product name</label>
        <input type="text" id="name" name="name" ngModel #name="ngModel" required minlength="3">
        <div *ngIf="name.touched" class="form-validator">
          <span *ngIf="name.errors?.['required']">Product name is Required!</span>
          <span *ngIf="name.errors?.['minlength']">Product name minimum 3 characters are required!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Product description</label>
        <input type="text" id="description" name="description" ngModel #description="ngModel" required>
        <div *ngIf="description.touched" class="form-validator">
          <span *ngIf="description.errors?.['required']">Product description is Required!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="imagePath">Product image</label>
        <input type="file" class="file-upload" id="imagePath" name="imagePath" ngModel #imagePath="ngModel" (change)="onFileSelected($event)" requiredFileType="image/jpg">
        <div *ngIf="imagePath.touched" class="form-note-text">
          <span>Selected file: {{ fileName || "No file uploaded yet."}}</span>
        </div>
        <div *ngIf="imagePath.errors?.['requiredFileType']" class="form-validator">
          <span *ngIf="imagePath.errors?.['requiredFileType']">Only jpg is acceptable file format</span>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Product price</label>
        <input type="number" id="price" name="price" ngModel #price="ngModel" required min="0">
        <div *ngIf="price.touched" class="form-validator">
          <span *ngIf="price.errors?.['required']">Product price is Required!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="categoryId">Product category</label>
        <select id="categoryId" name="categoryId" ngModel #categoryId="ngModel" required>
          <option *ngFor="let category of categoriesList" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <div *ngIf="categoryId.touched" class="form-validator">
          <span *ngIf="categoryId.errors?.['required']">Please select a category!</span>
        </div>
      </div>

      <div class="modal-buttons">
        <button type="submit" [disabled]="!addProductForm.form.valid">Create</button>
        <button type="button" (click)="isModalAddOpened = false">Cancel</button>
      </div>
    </form>

  </div>
</app-modal>
