.home-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product-categories {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.top-farms {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.map {
  margin: 0;
}
