@import "src/variables";

.home-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product-categories {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.top-farms {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.map {
  margin: 0;
}

.app-description-text{
  padding: 0 2em;
  margin: 0;
  line-height: 2em;
  text-indent: 1.5em;
  text-align: justify;

  p{
    margin: 0;
  }
  
  .redirect-link{
    font-weight: 700;
    color: $limeGreen;
    font-size: 1.2em;
  }
}
