@import "src/variables";

.filters-container{
  padding: 2em;
  width: 70%;
  height: 100vh;
  background-color: $darkGreen;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 10;
  color: #fff;

  .filters-close{
    align-self: flex-end;
    background: none;
    width: 30px;
    display: block;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;

    span{
      display: block;
      background-color: $limeGreen;
      width: 31px;
      height: 1px;

      &.filters-close-left{
        transform: rotate(45deg);
      }
      &.filters-close-right{
        transform: rotate(-45deg);
      }
    }

  }
  .filters-heading{
    text-align: left;
    margin: 0;
  }
  .filters-group-heading{
    margin: 0;
    text-align: left;
    color: #000;
  }
  .filter-group-parent{
    font-weight: bold;

    .show-child-toggle{
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  .filter-group-child{
    display: flex;
    flex-direction: column;
  }
}
.filter-button{
  width: 142px;
  background-color: $limeGreen;
  align-self: flex-end;

  &:hover{
    background-color: #fff;
    color: $darkGreen;
  }

  &:disabled{
    opacity: 0.5;

    &:hover{
       background-color: $limeGreen;
      color: #fff;
    }
  }
}

@media (min-width: 1024px){

  .filters-container{
    position: relative;
    z-index: 0;
    height: fit-content;
    border-radius: 5px;
    min-width: 250px;

    .filters-close{
      display: none;
    }
  }
}
