@import "src/variables";

.filters-container{
  padding: 2em;
  width: 70%;
  height: 100vh;
  background-color: $limeGreenTransparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  z-index: 10;

  .filter-group-parent{
    text-transform: uppercase;
  }
  .filter-group-child{
    display: flex;
    flex-direction: column;
  }
}