<div class="filters-container" >
  <button class="filters-close" (click)="closeFilters()">x</button>
  <h2 class="filters-heading">Filter by</h2>

  <div class="filter-category">
    <h3 class="filters-group-heading">Categories</h3>
    <div>

      <label (click)="showChild = !showChild" class="filter-group-parent">
        Categories
        <span class="show-child-toggle">{{ showChild ? '-' : '+'}}</span>
      </label>

      <div *ngIf="showChild" class="filter-group-child">
        <div>
          <input type="checkbox" #allCategories
                 (change)="onCheckAll(allCategories.checked)">
          All
        </div>

        <div *ngFor="let category of categoriesList">
          <input type="checkbox" [value]="category"
                 [checked]="allCategories.checked"
                 (change)="onCheck(category)">
          {{ category | titlecase }}
        </div>
      </div>

    </div>
  </div>

  <button (click)="applyFilter()">Apply filter</button>
</div>
