@import "src/variables";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  padding: 10px 14px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    border-color: $primaryGreen;
  }

  &:focus {
    outline-color: $primaryGreen;
  }
}

#role {
  vertical-align: sub;
}

.switch-mode {
  margin: 0;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $darkGreen;
  }
}
