@import "src/variables";

.product {

  &-name {
    text-align: left;
  }

  &-content {
    display: flex;
    gap: 1em;
  }

  &-image {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: $primaryGreen;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .object-fit_cover {
      object-fit: cover;
      width: 150px;
      height: 150px;
    }
  }
  &-description {
    flex: 4;
  }
  &-price {
    color: red;
  }

  &-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;

    button {
      overflow: hidden;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      position: relative;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      padding: 0;

      &:hover {
        background-color: $darkGreen;
      }
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        background-size: contain;
        filter: invert(1);
        background-repeat: no-repeat;
        top: 5px;
        left: 5px;
      }
    }
  }
}

.edit-btn {
  background-color: $primaryGreen;

  &::after {
    background-image: url(../../../../../assets/images/icons/pencil.svg);
  }
}
.delete-btn {
  background-color: $darkGreen;

  &::after {
    background-image: url(../../../../../assets/images/icons/trash.svg);
  }
}

.form-group {
  width: 100%;
}
