@import "src/variables";

.product {
  &-name {
    text-align: left;
  }

  &-content {
    display: flex;
    gap: 1em;
  }

  &-image {
    height: 100px;
    width: 100px;
    background-color: #eee;
    border-radius: 50%;
  }

  &-description {
    flex: 4;
  }

  &-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;

    button {
      overflow: hidden;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      position: relative;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $darkGreen;
      }
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        background-size: contain;
        filter: invert(1);
        background-repeat: no-repeat;
        top: 5px;
        left: 5px;
      }
    }
  }
}

.edit-btn {
  background-color: $primaryGreen;

  &::after {
    background-image: url(../../../../../assets/images/icons/pencil.svg);
  }
}
.delete-btn {
  background-color: $darkGreen;

  &::after {
    background-image: url(../../../../../assets/images/icons/trash.svg);
  }
}
