<div class="product">
  
  <div class="product-content">
    <div class="product-image">
      <img *ngIf="product.image; else noImage"
      [src]="product.image"
      alt="product image"
      class="object-fit_cover">
    <ng-template #noImage>No image yet ...</ng-template>
    </div>
    
    <div class="product-description">
      <h3 class="product-name">{{ product.name }}</h3>
      <div>{{ product.description }}</div>
      <div class="product-price">{{ product.price | currency: ('UAH') }}</div>
    </div>
    <div class="product-actions">
      <button class="edit-btn" (click)="openModal()" title="Edit">Edit</button>
      <button class="delete-btn" (click)="onDeleteProduct()">Delete</button>
    </div>
  </div>
</div>

<app-modal *ngIf="isModalOpened" (isModalOpened)="isModalOpened = $event">
  <div class="modal">
    <p class="modal-title">Edit product</p>

    <form class="modal-form" #editProductForm="ngForm"
          (ngSubmit)="onEditProduct(editProductForm.value)">

      <label for="productName">Product name</label>
      <input type="text" id="productName" name="productName" required [ngModel]="product.name">
      <label for="productDesc">Product description</label>
      <input type="text" id="productDesc" name="productDesc" required [ngModel]="product.description">
      <label for="productImg">Product image</label>
      <input type="text" id="productImg" name="productImg" [ngModel]="product.image">
      <label for="productPrice">Product price</label>
      <input type="text" id="productPrice" name="productPrice" [ngModel]="product.price">
      <label for="productCategory">Product category</label>
      <select id="productCategory" name="productCategory" [ngModel]="product.category">
        <option *ngFor="let category of categoriesList" [value]="category">
          {{ category | titlecase }}
        </option>
      </select>

      <div class="modal-buttons">
        <button type="submit">Save</button>
        <button type="button" (click)="closeModal()">Cancel</button>
      </div>
    </form>

  </div>
</app-modal>
