@import "src/variables";

.product {
  &-content {
    display: flex;
    gap: 30px;
  }

  &-image {
    height: 100px;
    width: 100px;
    background-color: silver;
    border-radius: 50%;
  }

  &-description {
    flex: 1;
  }

  &-actions > button {
    padding: 10px 20px;
    background-color: $primaryGreen;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $darkGreen;
    }
  }
}

.edit-btn {
  margin-right: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-weight: bold;
    margin-top: 0;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 10px 10px;
      border: 1px solid silver;
      box-sizing: border-box;
      border-radius: 5px;

      &:hover {
        border-color: $primaryGreen;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-evenly;

    & > button {
      padding: 10px 20px;
      background-color: $primaryGreen;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $darkGreen;
      }
    }
  }
}
