@import "src/variables";

h2{
  margin: 0;
  font-size: 30px;
}

.product-categories-list{
  display: flex;
  gap: 1em;
  overflow-y: hidden;
  overflow-x: scroll;
  justify-content: flex-start;
}
.view-all{
  align-self: center;
  background-color: $limeGreen;
}

@media (min-width: 1120px){
  .product-categories-list{
    justify-content: center;
    overflow-x: auto;
  }
}